.integrante-card-contenedor{
    background-color: white;
    color: #000000;
    border-radius: 10px;
    padding: 15px;
    padding-top: 35px;
    padding-bottom: 40px;

}
.title-integrantes{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.card{
    text-align: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.nombre{
    font-size: 20px;
}

.frace{
    font-style: italic;
}

.rol{
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    opacity: 0.7;

}

.content-perfil{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 200px;
    overflow: hidden;

}

.Ramos {

    grid-column: 2 / 3
}

.Ramos .card .content-perfil{
    rotate: 270deg;
    width: 200px;
    margin-left: 45px;
}